<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/robertpercival/Downloads/Splash_Android.png</key>
	<data>
	Ym9va8wCAAAAAAQQMAAAAN4gN4tNtRwpYLHeIe01uIYelS3kJbaH7IQhLV5Wd28JyAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAOAAAAAQEAAHJvYmVydHBlcmNpdmFs
	AAAJAAAAAQEAAERvd25sb2FkcwAAABIAAAABAQAAU3BsYXNoX0FuZHJvaWQucG5nAAAQ
	AAAAAQYAABAAAAAgAAAAOAAAAEwAAAAIAAAABAMAANBgBgAAAAAACAAAAAQDAABMBAsA
	AAAAAAgAAAAEAwAA4QQLAAAAAAAIAAAABAMAADnBKAACAAAAEAAAAAEGAACAAAAAkAAA
	AKAAAACwAAAACAAAAAAEAABBv63ySQO8ERgAAAABAgAAAQAAAAAAAAAPAAAAAAAAAAAA
	AAAAAAAACAAAAAQDAAACAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8M
	AAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAABBINzoAAAAIAAAAAAQAAEG9uh5ZAAAA
	JAAAAAEBAABBQUJBRDBBRi02MThDLTMzRkMtQjE0RS01NDgzODFFMzg0RDAYAAAAAQIA
	AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAzAAAAP7/
	//8BAAAAAAAAABAAAAAEEAAAaAAAAAAAAAAFEAAAwAAAAAAAAAAQEAAA6AAAAAAAAABA
	EAAA2AAAAAAAAAACIAAAtAEAAAAAAAAFIAAAJAEAAAAAAAAQIAAANAEAAAAAAAARIAAA
	aAEAAAAAAAASIAAASAEAAAAAAAATIAAAWAEAAAAAAAAgIAAAlAEAAAAAAAAwIAAAwAEA
	AAAAAAABwAAACAEAAAAAAAARwAAAIAAAAAAAAAASwAAAGAEAAAAAAAAQ0AAABAAAAAAA
	AAA=
	</data>
	<key>/Users/robpercival/Downloads/codestars_logo.png</key>
	<data>
	Ym9va8gCAAAAAAQQMAAAAEunhuLUyqiNj+pAlRPnRZhOTYo5fVyfDEIlLHULAGWxxAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAALAAAAAQEAAHJvYnBlcmNpdmFsAAkA
	AAABAQAARG93bmxvYWRzAAAAEgAAAAEBAABjb2Rlc3RhcnNfbG9nby5wbmcAABAAAAAB
	BgAAEAAAACAAAAA0AAAASAAAAAgAAAAEAwAA+WYCAAAAAAAIAAAABAMAAKA4CQAAAAAA
	CAAAAAQDAAAK8woAAAAAAAgAAAAEAwAA5SdiAQAAAAAQAAAAAQYAAHwAAACMAAAAnAAA
	AKwAAAAIAAAAAAQAAEG7IcpbAAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAA
	AAAIAAAABAMAAAIAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAAB
	AQAATWFjaW50b3NoIEhECAAAAAQDAAAAAAAydAAAAAgAAAAABAAAQblescYAAAAkAAAA
	AQEAADZDQTVFRDAyLUVBRTUtMzRBMy05OTgzLUVFQzI0NDkzNTdBNRgAAAABAgAAgQAA
	AAEACADvFwAAAQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEA
	AAAAAAAAEAAAAAQQAABkAAAAAAAAAAUQAAC8AAAAAAAAABAQAADkAAAAAAAAAEAQAADU
	AAAAAAAAAAIgAACwAQAAAAAAAAUgAAAgAQAAAAAAABAgAAAwAQAAAAAAABEgAABkAQAA
	AAAAABIgAABEAQAAAAAAABMgAABUAQAAAAAAACAgAACQAQAAAAAAADAgAAC8AQAAAAAA
	AAHAAAAEAQAAAAAAABHAAAAgAAAAAAAAABLAAAAUAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/robpercival/Downloads/complete_android_dev_#1.png</key>
	<data>
	Ym9va9ACAAAAAAQQMAAAAFS85jRkyLloOIShpMX4iDE9+MDymjSxZFxRmZjfEYghzAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAALAAAAAQEAAHJvYnBlcmNpdmFsAAkA
	AAABAQAARG93bmxvYWRzAAAAGwAAAAEBAABjb21wbGV0ZV9hbmRyb2lkX2Rldl8jMS5w
	bmcAEAAAAAEGAAAQAAAAIAAAADQAAABIAAAACAAAAAQDAAD5ZgIAAAAAAAgAAAAEAwAA
	oDgJAAAAAAAIAAAABAMAAArzCgAAAAAACAAAAAQDAACOH2IBAAAAABAAAAABBgAAhAAA
	AJQAAACkAAAAtAAAAAgAAAAABAAAQbshyFAAAAAYAAAAAQIAAAEAAAAAAAAADwAAAAAA
	AAAAAAAAAAAAAAgAAAAEAwAAAgAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6
	Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAAAAADJ0AAAACAAAAAAEAABBuV6x
	xgAAACQAAAABAQAANkNBNUVEMDItRUFFNS0zNEEzLTk5ODMtRUVDMjQ0OTM1N0E1GAAA
	AAECAACBAAAAAQAIAO8XAAABAAgAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwA
	AAD+////AQAAAAAAAAAQAAAABBAAAGwAAAAAAAAABRAAAMQAAAAAAAAAEBAAAOwAAAAA
	AAAAQBAAANwAAAAAAAAAAiAAALgBAAAAAAAABSAAACgBAAAAAAAAECAAADgBAAAAAAAA
	ESAAAGwBAAAAAAAAEiAAAEwBAAAAAAAAEyAAAFwBAAAAAAAAICAAAJgBAAAAAAAAMCAA
	AMQBAAAAAAAAAcAAAAwBAAAAAAAAEcAAACAAAAAAAAAAEsAAABwBAAAAAAAAENAAAAQA
	AAAAAAAA
	</data>
	<key>/Users/robpercival/Downloads/complete_android_dev_#2.png</key>
	<data>
	Ym9va9ACAAAAAAQQMAAAAEuJOLiM8Fb9hzHdBwz2XT0uxgNfRF33J0F26mqSoZIzzAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAALAAAAAQEAAHJvYnBlcmNpdmFsAAkA
	AAABAQAARG93bmxvYWRzAAAAGwAAAAEBAABjb21wbGV0ZV9hbmRyb2lkX2Rldl8jMi5w
	bmcAEAAAAAEGAAAQAAAAIAAAADQAAABIAAAACAAAAAQDAAD5ZgIAAAAAAAgAAAAEAwAA
	oDgJAAAAAAAIAAAABAMAAArzCgAAAAAACAAAAAQDAAAsKGIBAAAAABAAAAABBgAAhAAA
	AJQAAACkAAAAtAAAAAgAAAAABAAAQbshypgAAAAYAAAAAQIAAAEAAAAAAAAADwAAAAAA
	AAAAAAAAAAAAAAgAAAAEAwAAAgAAAAAAAAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6
	Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAAAAADJ0AAAACAAAAAAEAABBuV6x
	xgAAACQAAAABAQAANkNBNUVEMDItRUFFNS0zNEEzLTk5ODMtRUVDMjQ0OTM1N0E1GAAA
	AAECAACBAAAAAQAIAO8XAAABAAgAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwA
	AAD+////AQAAAAAAAAAQAAAABBAAAGwAAAAAAAAABRAAAMQAAAAAAAAAEBAAAOwAAAAA
	AAAAQBAAANwAAAAAAAAAAiAAALgBAAAAAAAABSAAACgBAAAAAAAAECAAADgBAAAAAAAA
	ESAAAGwBAAAAAAAAEiAAAEwBAAAAAAAAEyAAAFwBAAAAAAAAICAAAJgBAAAAAAAAMCAA
	AMQBAAAAAAAAAcAAAAwBAAAAAAAAEcAAACAAAAAAAAAAEsAAABwBAAAAAAAAENAAAAQA
	AAAAAAAA
	</data>
	<key>/Users/robpercival/Downloads/star.png</key>
	<data>
	Ym9va7wCAAAAAAQQMAAAABAuw6KgqUZbCj2pFQ+zAw85ws8ATdUdYDaQJRiwj6TFuAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAALAAAAAQEAAHJvYnBlcmNpdmFsAAkA
	AAABAQAARG93bmxvYWRzAAAACAAAAAEBAABzdGFyLnBuZxAAAAABBgAAEAAAACAAAAA0
	AAAASAAAAAgAAAAEAwAA+WYCAAAAAAAIAAAABAMAAKA4CQAAAAAACAAAAAQDAAAK8woA
	AAAAAAgAAAAEAwAAuydiAQAAAAAQAAAAAQYAAHAAAACAAAAAkAAAAKAAAAAIAAAAAAQA
	AEG7IcovAAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAIA
	AAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3No
	IEhECAAAAAQDAAAAAAAydAAAAAgAAAAABAAAQblescYAAAAkAAAAAQEAADZDQTVFRDAy
	LUVBRTUtMzRBMy05OTgzLUVFQzI0NDkzNTdBNRgAAAABAgAAgQAAAAEACADvFwAAAQAI
	AAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQ
	AABYAAAAAAAAAAUQAACwAAAAAAAAABAQAADYAAAAAAAAAEAQAADIAAAAAAAAAAIgAACk
	AQAAAAAAAAUgAAAUAQAAAAAAABAgAAAkAQAAAAAAABEgAABYAQAAAAAAABIgAAA4AQAA
	AAAAABMgAABIAQAAAAAAACAgAACEAQAAAAAAADAgAACwAQAAAAAAAAHAAAD4AAAAAAAA
	ABHAAAAgAAAAAAAAABLAAAAIAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/robpercival/Google Drive/WebDevCourse/Course Videos FROM MAC/media 07-56-22-851/1398949472.147293/desktop-notext.png</key>
	<data>
	Ym9va3gDAAAAAAQQMAAAAGv9G+dAVF2TtjrQwQYYSNH1nQSNC8D8p75FKsN3yvKPgAIA
	AAUAAAABAQAAVXNlcnMAAAALAAAAAQEAAHJvYnBlcmNpdmFsAAwAAAABAQAAR29vZ2xl
	IERyaXZlDAAAAAEBAABXZWJEZXZDb3Vyc2UWAAAAAQEAAENvdXJzZSBWaWRlb3MgRlJP
	TSBNQUMAABIAAAABAQAAbWVkaWEgMDctNTYtMjItODUxAAARAAAAAQEAADEzOTg5NDk0
	NzIuMTQ3MjkzAAAAEgAAAAEBAABkZXNrdG9wLW5vdGV4dC5wbmcAACAAAAABBgAABAAA
	ABQAAAAoAAAAPAAAAFAAAABwAAAAjAAAAKgAAAAIAAAABAMAACkSAgAAAAAACAAAAAQD
	AABcwgUAAAAAAAgAAAAEAwAAXrQxAQAAAAAIAAAABAMAAH56MQEAAAAACAAAAAQDAAAm
	EDIBAAAAAAgAAAAEAwAAOadeAQAAAAAIAAAABAMAADunXgEAAAAACAAAAAQDAAA9p14B
	AAAAACAAAAABBgAA7AAAAPwAAAAMAQAAHAEAACwBAAA8AQAATAEAAFwBAAAIAAAAAAQA
	AEG45ZMjAAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAYA
	AAAAAAAABAAAAAMDAAD1AQAADAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAAAgwQwc
	AAAACAAAAAAEAABBt1OAKgAAACQAAAABAQAARjQ1QUY2NjYtRkVBNS0zOTA2LTgzRUYt
	RkI4RDY4NTIyNEI3GAAAAAECAACBAAAAAQAIAO8XAAABAAgAAAAAAAAAAAABAAAAAQEA
	AC8AAAAAAAAAAQUAAAQAAAADAwAAAAgAKMAAAAD+////AQAAAAAAAAAPAAAABBAAAMQA
	AAAAAAAABRAAAGwBAAAAAAAAEBAAAKQBAAAAAAAAQBAAAJQBAAAAAAAAAiAAAGACAAAA
	AAAAECAAAOABAAAAAAAAESAAABQCAAAAAAAAEiAAAPQBAAAAAAAAEyAAAAQCAAAAAAAA
	ICAAAEACAAAAAAAAMCAAAGwCAAAAAAAAAcAAAMQBAAAAAAAAEcAAABQAAAAAAAAAEsAA
	ANQBAAAAAAAAENAAAHQCAAAAAAAA
	</data>
	<key>/Users/robpercival/Google Drive/WebDevCourse/desktop-notext.png</key>
	<data>
	Ym9va9gCAAAAAAQQMAAAADLsVast+J3Fn/QHzUqXoPa7V68s3PUYuA6FS3nBWgLN4AEA
	AAUAAAABAQAAVXNlcnMAAAALAAAAAQEAAHJvYnBlcmNpdmFsAAwAAAABAQAAR29vZ2xl
	IERyaXZlDAAAAAEBAABXZWJEZXZDb3Vyc2USAAAAAQEAAGRlc2t0b3Atbm90ZXh0LnBu
	ZwAAFAAAAAEGAAAEAAAAFAAAACgAAAA8AAAAUAAAAAgAAAAEAwAAKRICAAAAAAAIAAAA
	BAMAAFzCBQAAAAAACAAAAAQDAABetDEBAAAAAAgAAAAEAwAAfnoxAQAAAAAIAAAABAMA
	AOTWXgEAAAAAFAAAAAEGAACIAAAAmAAAAKgAAAC4AAAAyAAAAAgAAAAABAAAQbjlkyMA
	AAAYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAAAwAAAAAAAAAE
	AAAAAwMAAPUBAAAMAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAACDBDBwAAAAIAAAA
	AAQAAEG3U4AqAAAAJAAAAAEBAABGNDVBRjY2Ni1GRUE1LTM5MDYtODNFRi1GQjhENjg1
	MjI0QjcYAAAAAQIAAIEAAAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAA
	AAABBQAABAAAAAMDAAAACAAowAAAAP7///8BAAAAAAAAAA8AAAAEEAAAbAAAAAAAAAAF
	EAAA2AAAAAAAAAAQEAAABAEAAAAAAABAEAAA9AAAAAAAAAACIAAAwAEAAAAAAAAQIAAA
	QAEAAAAAAAARIAAAdAEAAAAAAAASIAAAVAEAAAAAAAATIAAAZAEAAAAAAAAgIAAAoAEA
	AAAAAAAwIAAAzAEAAAAAAAABwAAAJAEAAAAAAAARwAAAFAAAAAAAAAASwAAANAEAAAAA
	AAAQ0AAA1AEAAAAAAAA=
	</data>
	<key>/Users/robpercival/Movies/Camtasia 2/Recordings/Rec 03-5-15.trec</key>
	<data>
	Ym9vaxgDAAAAAAQQMAAAAFOv2RXALJRRM1jM/Hpegmt0DatyL1+4NRv4lqe81leDFAIA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAALAAAAAQEAAHJvYnBlcmNpdmFsAAYA
	AAABAQAATW92aWVzAAAKAAAAAQEAAENhbXRhc2lhIDIAAAoAAAABAQAAUmVjb3JkaW5n
	cwAAEAAAAAEBAABSZWMgMDMtNS0xNS50cmVjGAAAAAEGAAAQAAAAIAAAADQAAABEAAAA
	WAAAAGwAAAAIAAAABAMAAPlmAgAAAAAACAAAAAQDAACgOAkAAAAAAAgAAAAEAwAAWyUS
	AAAAAAAIAAAABAMAAGglEgAAAAAACAAAAAQDAABrJRIAAAAAAAgAAAAEAwAAn/DKAAAA
	AAAYAAAAAQYAAKQAAAC0AAAAxAAAANQAAADkAAAA9AAAAAgAAAAABAAAQbqodP8AAAAY
	AAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAABAAAAAAAAAAEAAAA
	AwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMA
	AAAAADJ0AAAACAAAAAAEAABBuV6xxgAAACQAAAABAQAANkNBNUVEMDItRUFFNS0zNEEz
	LTk5ODMtRUVDMjQ0OTM1N0E1GAAAAAECAACBAAAAAQAIAO8XAAABAAgAAAAAAAAAAAAB
	AAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAAIQAAAAAAAAA
	BRAAAAQBAAAAAAAAEBAAADQBAAAAAAAAQBAAACQBAAAAAAAAAiAAAAACAAAAAAAABSAA
	AHABAAAAAAAAECAAAIABAAAAAAAAESAAALQBAAAAAAAAEiAAAJQBAAAAAAAAEyAAAKQB
	AAAAAAAAICAAAOABAAAAAAAAMCAAAAwCAAAAAAAAAcAAAFQBAAAAAAAAEcAAACAAAAAA
	AAAAEsAAAGQBAAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>/Volumes/SAMSUNG/Complete Web Developer Course Videos/9.3MapsJSAPI.cmproj/./recordings/1404223226.070254/Rec 07-1-14 20.trec</key>
	<data>
	Ym9vazgEAAAAAAQQMAAAAP0pvlwb5VRVTHFS5GcPj9nM8hzms2o/zE0JDFZGJWboZAMA
	AAcAAAABAQAAVm9sdW1lcwAHAAAAAQEAAFNBTVNVTkcAJAAAAAEBAABDb21wbGV0ZSBX
	ZWIgRGV2ZWxvcGVyIENvdXJzZSBWaWRlb3MTAAAAAQEAADkuM01hcHNKU0FQSS5jbXBy
	b2oACgAAAAEBAAByZWNvcmRpbmdzAAARAAAAAQEAADE0MDQyMjMyMjYuMDcwMjU0AAAA
	EwAAAAEBAABSZWMgMDctMS0xNCAyMC50cmVjABwAAAABBgAABAAAABQAAAAkAAAAUAAA
	AGwAAACAAAAAnAAAAAgAAAAEAwAARDAAAAAAAAAIAAAABAMAAAIAAAAAAAAACAAAAAQD
	AABlAAAAAAAAAAgAAAAEAwAA8nkAAAAAAAAIAAAABAMAAPt5AAAAAAAACAAAAAQDAADZ
	syAAAAAAAAgAAAAEAwAA27MgAAAAAAAcAAAAAQYAANwAAADsAAAA/AAAAAwBAAAcAQAA
	LAEAADwBAAAIAAAAAAQAAEG5YvW9AAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAA
	AAAAAAAIAAAABAMAAADAWszoAAAACAAAAAAEAABBuUDB3gAAACQAAAABAQAARUFCMjRG
	ODEtNzM4QS0zRjFELTkzQjEtRkVGNzMxOUY4NDEzGAAAAAECAAABAQAAAQAIAO8XAAAB
	AAgAAAAAAAAAAAAQAAAAAQEAAC9Wb2x1bWVzL1NBTVNVTkcMAAAAAQEAAE1hY2ludG9z
	aCBIRAgAAAAEAwAAACDBDBwAAAAIAAAAAAQAAEG3U4AqAAAAJAAAAAEBAABGNDVBRjY2
	Ni1GRUE1LTM5MDYtODNFRi1GQjhENjg1MjI0QjcYAAAAAQIAAIEAAAABAAgA7xcAAAEA
	CAAAAAAAAAAAAAEAAAABAQAALwAAAFQAAAD+////APAAAAAAAAAGAAAAAiAAAKQCAAAA
	AAAAECAAACQCAAAAAAAAESAAAFgCAAAAAAAAEiAAADgCAAAAAAAAEyAAAEgCAAAAAAAA
	ICAAAIQCAAAAAAAABAAAAAMDAAAA8AAABAAAAAMDAAAAAAAABAAAAAMDAAABAAAAIAAA
	AAEGAAAMAwAAGAMAACQDAAAYAwAAGAMAABgDAAAYAwAAGAMAAAQAAAADAwAAAAgAKJwA
	AAD+////AQAAALACAAAMAAAABBAAALgAAAAAAAAABRAAAEwBAAAAAAAAEBAAAIABAAAA
	AAAAQBAAAHABAAAAAAAAACAAADADAAAAAAAAAiAAAAwCAAAAAAAAECAAABQAAAAAAAAA
	ESAAAMABAAAAAAAAEiAAAKABAAAAAAAAEyAAALABAAAAAAAAICAAAOwBAAAAAAAAENAA
	AFgDAAAAAAAA
	</data>
</dict>
</plist>
